.listproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 0px;
  border-radius: 6px;
}
hr{
  width: 30%;
  color: black;
}
  .listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px 5px;
    font-weight: 600;
}


.listproduct-format {
  align-items: center;
  padding: 10px 0px;
}
.tittle{
 padding-left: 42px
}
.listproduct-product-icon{
    height: 80px;
}
.listproduct-remove-icon{
  cursor: pointer;
}
.listproduct-allproducts{
    overflow-y: auto;
}
.listproduct-allproducts hr{
  width: 100vw;
  color: white;
}
@media(max-width:800px){
  .listproduct {
    /* box-sizing: border-box; */
    width: 94%;
    height: 600px;
    padding: 10px 0px;
    margin: 20px auto;
  }
  .listproduct-format-main{
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }
  .tittle{
    padding-left: 12px
   }
  .listproduct-product-icon{
    height: 60px;
}
}